.products-page {
    max-width: 1200px;
    margin: var(--section-margin);
    padding: 100px 20px;
}

.products-page .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.product-player {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%)
}